.inverted {
  order: 1;
}

.label {
  display: flex;
  gap: .5rem;
  align-items: center;

  span {
    flex-basis: 40%;
  }

  .label-full {
    flex-basis: unset;
  }

  input {
    height: fit-content;
  }
}
