---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import { getCollection } from 'astro:content';

const subjects = await getCollection("subject");
---

<Layout title="Inicio">
	<main class="container">
		<h1>
			Temario
		</h1>
		<div class="container-card">
			{
				subjects.map(subject => {
					const { slug, data } = subject
					const { excerpt, coverPhotoSrc, coverPhotoAlt, title } = data

					return (
						<Card
							href={`/subject/${slug}`}
							title={title}
							image={{
								src: coverPhotoSrc,
								alt: coverPhotoAlt
							}}
							excerpt={excerpt}
						/>
					)
				})
			}
		</div>
	</main>
</Layout>

<style>
	.container-card {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	h1 {
		margin-bottom: 2rem;
	}
</style>
